<ng-sidebar-container style="height: 77%; width: 50%; position: absolute; left: 0px;">
    <ng-sidebar 
   [(opened)]="open"
   [(position)] = "position"
   [(showBackdrop)] ="showBackDrop"
   >
        <form [formGroup] = "processQueryForm">
            <div *ngIf="isLoadingCustomers | async">
                <label for="itemSelect" style="padding-top: 10px;">Customer Name</label>
                <p>Loading...</p>
            </div>
            <div *ngIf="!(isLoadingCustomers | async)">
                <label for="itemSelect" style="padding-top: 10px;">Customer Name</label>
                <ng-multiselect-dropdown
                [placeholder] = "'Select an item from the list down below'"
                [settings] = "dropdownSettings"
                [data] = "getAllCustomerNames()"
                [disabled] = "false"
                formControlName = "customerName"
                >
                </ng-multiselect-dropdown>
            </div>
            <div *ngIf="isLoadingMachines | async">
                <label for="itemSelect" style="padding-top: 10px;">Machine Serial Number</label>
                <p>Loading...</p>
            </div>
            <div *ngIf="!(isLoadingMachines | async)">
                <label for="itemSelect" style="padding-top: 10px;">Machine Serial Number</label>
                <ng-multiselect-dropdown
                [placeholder] = "'Select an item from the list down below'"
                [settings] = "dropdownSettings"
                [data] = "getAllSerialNumbers()"
                [disabled] = "false"
                formControlName = "serialNumber"
                >
                </ng-multiselect-dropdown>
            </div>
            <div style="padding-top: 3%;">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" formControlName = "pump10">
                    <label class="custom-control-label" for="customSwitch1">Pump 10</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2" checked="" formControlName = "pump5">
                    <label class="custom-control-label" for="customSwitch2">Pump 5</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" checked="" formControlName = "drainSensor">
                    <label class="custom-control-label" for="customSwitch3">Drain Sensor</label>
                </div>
            </div>
            <div>
                <label for="itemSelect" style="padding-top: 10px;">Water Temperature</label>
                <ng5-slider style="width: 70%;" [(value)]="minValue" [(highValue)]="maxValueTemp" [options]="optionsWaterTemp" formControlName = "waterTempRange"></ng5-slider>
            </div>
            <div>
                <label for="itemSelect" style="padding-top: 10px;">Water Level (ml)</label>
                <ng5-slider style="width: 70%;" [(value)]="minValue" [(highValue)]="maxValueLevel" [options]="optionsWaterLevel" formControlName = "waterLevelRange"></ng5-slider>
            </div>
            <div style="position: absolute; left: 0px; padding-top: 10%;">
                <button style="position: absolute; left: 25%"type="button" class="btn btn-outline-primary" (click) = "onButtonClick()">Apply</button>
            </div>
            <div style="position: absolute; right: 30%; padding-top: 10%;">
                <button style="position: absolute; left: 50%"type="button" class="btn btn-outline-primary" (click) = "onCancel()">Cancel</button>
            </div>
        </form>         
   </ng-sidebar>   
</ng-sidebar-container>