<table mat-table data [dataSource] = "dataSource">
    <ng-container matColumnDef = "id" >
        <th mat-header-cell *matHeaderCellDef >Process Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef = "processTimeStart" >
        <th mat-header-cell *matHeaderCellDef >Date-Time Start</th>
        <td mat-cell *matCellDef="let element">{{element.processTimeStart}}</td>
    </ng-container>
    <ng-container matColumnDef = "processTimeEnd" >
        <th mat-header-cell *matHeaderCellDef >Date-Time End</th>
        <td mat-cell *matCellDef="let element">{{element.processTimeEnd}}</td>
    </ng-container>
    <ng-container matColumnDef = "details" >
        <th mat-header-cell *matHeaderCellDef >Show Details</th>
        <td mat-cell *matCellDef="let element; let i = index">
            <button *ngIf="!detailsOn"type="button" class="btn btn-info disabled" (click) = "onButtonClick(i)">Show Details</button>
            <button *ngIf="detailsOn && selectedItem == i" type="button" class="btn btn-info disabled" (click) = "onButtonClick(i)">Toggle</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayColumns"></tr>
</table>