<body>
    <form>
        <app-detail-bar 
        [open] = "detailsOpen"
        [position] = "detailsPosition"
        [process] = "processRetrieved"
        [isLoading] = "isLoadingProcess">
        </app-detail-bar>
        <app-search-modal 
        [open] = "filtersOpen"
        [position] = "filtersPosition"
        (filtersEmitter) = "onFiltersEmit($event)"
        (cancelEmitter) = "onCancelFilters()">
        </app-search-modal>
        <div *ngIf="isLoadingProcessInfos | async">
            <p>Loading...</p>
        </div>
        <div *ngIf="!(isLoadingProcessInfos | async) && !filtersOpen">
            <app-grid (showDetailsEmitter) = "toggleDetails($event)"
                [dataSource] = "gridDataSource"
            ></app-grid>
            <div style="padding-top: 5%;">
                <button style="position: absolute; left: 0px"type="button" class="btn btn-outline-primary" (click) = "toggleFilters()">Apply Filters</button>
                <button style="position: absolute; left: 25%"type="button" class="btn btn-outline-primary" (click) = "removeFilters()">Remove Filters</button>
            </div>
        </div>
    </form>
</body>



